.book{
	margin-left: 50px;
	margin-right: 50px;
}
.appTitle{
font-family: 'Oswald', sans-serif;
color:#3897f0;
font-size: 50px;
}
.mainContainer {
	display: flex;
	flex-direction: row;
	width:1050px;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	margin-left: 120px;
	overflow-x:auto;
	padding-left: 10px;
}
.year{
	color:#F5F5F5;
	font-size: 14px;
	font-style: bold;
}
.genere_text{
	color:#F5F5F5;
	font-size: 12px;
}
.book{
	display:flex;
	flex-direction: column;
}

.section {

	margin: 4%;
	height: auto;
	width: 260px;
}
/*
.middleDiv {
	margin: 2% 0 0 0;
}*/
.genere_title_div{
	width: 260px;
	height:250px;
	background-color: #F5F5F5;
	display:flex;
	flex-direction: column;
	outline-color: #3897f0;
	outline-style: solid;
	outline-width: 5px;

}
.author_name{
	font-family: 'Oswald', sans-serif;
	width: 200px;
	height:10px;
	padding:.3em;
	font-size: 15px;
	font-style:italic;
	padding-top: 55px;
	color:white;

}
.author_div{
	width:260px;
	height: 80px;
	background-color: #3897f0;
	display:flex;
	justify-content: center;

}
.title_div{
	width:260px;
	height:130px;
	justify-content: center;
	align-items: center;
	align-items:space-around;

}
.title{
	font-family: 'Oswald', sans-serif;
	padding-top:50px;
	padding-left:20px;
	font-size: 25px;
	font-style: oblique;
	color:#3897f0;

}
.delete_button{
	border-radius: 3em;
	height:50px;
	width:50px;
	justify-content: center;
	align-items: center;
	border-color: #3897f0;
	color: #3897f0;
  font-size: 10px;
	background-color: #F5F5F5;
}
.delete_div{
	width:90px;
	height: 49px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-left: 80px;
	flex-direction: column;
}
.container_edit_div{
	display:flex;
	align-self: flex-start;
	align-content:center;

}
.edit_div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width:200px;
}
.year_div{
	font-family: 'Oswald', sans-serif;
	background-color: #3897f0;
	width:36px;
	height:70px;
	align-content: flex-end;
	flex-direction: row;
	margin-bottom: 32px;

}
.edit_button{
	border-radius: 3em;
	height:50px;
	width:50px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-top:21px;
	border-color: #3897f0;
	color: #3897f0;
	font-size: 10px;
	background-color: #F5F5F5;
}

.add_Book{
	font-family: 'Oswald', sans-serif;
	border-radius: 1.5em;
	height:90px;
	width:90px;
	justify-content: center;
	align-items: center;
	margin-left: 19px;
	margin-top:127px;
	border-color: #3897f0;
	color: #3897f0;
	font-size: 10px;
	background-color: #F5F5F5;
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
}

.genere_div{
	width:200px;
	height:50px;
	background-color: #3897f0;
	margin-top: 18px;
}

.add-book-form{
	width: 500px;
  height:450px;
  outline-color: #3897f0;
	outline-style: solid;
	outline-width: 5px;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  background-color: white;
  display:flex;
  justify-content: center;
	flex-direction:column ;
}
input.add-book-input{
	width:300px;
	height:40px;
}
input[type="submit" i] {
  border-radius: 3em;
	height:50px;
	width:50px;
	justify-content: center;
	align-items: center;
	border-color: #3897f0;
	color: #3897f0;
  font-size: 10px;
	background-color: #F5F5F5;
  margin-left: 80px;
  margin-top: 18px;
}
.formHead{
	font-family: 'Oswald', sans-serif;
	height:50px;
	background-color: #3897f0;
	color:white;
	font-style: oblique;

}
label {
	font-family: 'Oswald', sans-serif;
  color:#3897f0;
  font-style: oblique;
}
