.appTitle{
color:#F5F5F5;
font-size: 25px;
}
.mainContainer {
	display: flex;
	flex-direction: row;
	width:1000px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 120px;
}
.year{
	color:#F5F5F5;
	font-size: 14px;
	font-style: bold;
}
.genere_text{
	color:#F5F5F5;
	font-size: 12px;
}
.book{
	display:flex;
	flex-direction: column;
}

.section {
	margin: 2% 0;
	height: auto;
	width: 260px;
}
/*
.middleDiv {
	margin: 2% 0 0 0;
}*/
.genere_title_div{
	width: 260px;
	height:250px;
	background-color: #F5F5F5;
	display:flex;
	flex-direction: column;
	outline-color: #3897f0;
	outline-style: solid;
	outline-width: 5px;

}
.author_name{
	width: 200px;
	height:10px;
	background-color: #F5F5F5;
	padding:.3em;
	font-size: 12px;
	font-style:italic;
	padding-top: 50px;
	color:#3897f0;

}
.author_div{
	width:260px;
	height: 80px;
	background-color: #3897f0;
	display:flex;
	justify-content: center;

}
.title_div{
	width:260px;
	height:130px;
	justify-content: center;
	align-items: center;
	align-items:space-around;

}
.title{
	padding-top:50px;
	padding-left:20px;
	font-size: 25px;
	font-style: oblique;
	color:#3897f0;

}
.delete_button{
	border-radius: 3em;
	height:50px;
	width:50px;
	justify-content: center;
	align-items: center;
	border-color: #3897f0;
	color: #3897f0;
  font-size: 10px;
	background-color: #F5F5F5;
}
.delete_div{
	width:90px;
	height:90px;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-left: 80px;
	flex-direction: column;
}
.container_edit_div{
	display:flex;
	align-self: flex-start;
	align-content:center;

}
.edit_div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width:200px;
}
.year_div{
	background-color: #3897f0;
	width:36px;
	height:70px;
	align-content: flex-end;
	flex-direction: row;
	z-index: 10;
	margin-bottom: 32px;

}
.edit_button{
	border-radius: 3em;
	height:50px;
	width:50px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	margin-top:21px;
	border-color: #3897f0;
	color: #3897f0;
	font-size: 10px;
	background-color: #F5F5F5;

}
.genere_div{
	width:200px;
	height:50px;
	background-color: #3897f0;
	margin-top: 18px;
}
